.logo_img{
display: flex;
justify-content: center;
align-items: center;
padding-top: 30px;
}
.card-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-subtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.date{
    color: blue;
    font-size:medium;
    font-weight: 300;
}






